h1 {
  font-family: "Arizonia", cursive;
  font-size: 120px;
  margin-bottom: 20px;
}

.form-label {
  padding: 10px;
}

.btn-primary {
  margin-top: 10px;
  margin-left: 10px;
  background-color: grey;
  border: grey;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-item {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
  display: none;
  background-color: darkgrey;
  min-width: 120px;
  padding: 10px;
}

.dropdown:hover .dropdown-item {
  display: block;
  position: relative;
}

.col-sm-2 {
  padding: 7px;
}
.card-img-top {
  width: 382px;
  height: 180px;
  padding: 15px;
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 50px;
  }
}
